/* a{
  padding: 10px;
  margin: 10px;
}

a[href="https://google.com"]{
  color: red;
}

a[href="https://facebook.com"]{
  color:yellow
}

a[href="https://linkedin.com"]{
  color: black;
}

a[href="https://instagram.com"]{
  color: brown;
} */

/* input[disabled]{
  background:#cdcdcd
}

a:hover{
  background: blue;
  color: white;
  padding: 10px;
}

a:active{
  background: red;
}

a:visited{
  color:blueviolet;
} */

/* li:first-child{
  background: red;
}

li:last-child{
  background: blue;
}

li:nth-child(2){
  background: green;
}

li:nth-child(3){
  background: yellow;
} */

/* li:nth-child(even){
  background: yellow;
}

li:nth-child(odd){
  background: red;
}

p::first-line{
  background: red;
}

p::first-letter{
  font-size: 42px;
}

li::first-line
  background-color: blue;
}
 */

p{
   line-height: 1.5;
   font-family: Arial, Helvetica, sans-serif;
}

.parrafo01{
  background-color: red;
}

.parrafo02{
  background-color: blue;
  text-align: center;
}

.parrafo03{
  background-color: yellow;
}

.parrafo04{
  background-color: pink;
  text-align: center;
}

p::first-letter{
  font-size: 40px;
}

